<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.vulkan.level" android:version="1" android:required="true" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />

    <!-- Required when the OpenXR loader is linked directly instead of supplied by its AAR. -->
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />
    <queries>
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
        <intent><action android:name="org.khronos.openxr.OpenXRRuntimeService" /></intent>
        <intent><action android:name="org.khronos.openxr.OpenXRApiLayerService" /></intent>
    </queries>

    <application android:hasCode="false" android:label="OpenXR Vulkan Lab" android:allowBackup="false">
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest2" />
        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density">
            <meta-data android:name="android.app.lib_name" android:value="openxr_vulkan_lab" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>
    </application>
</manifest>
